body {
    background-color: #191b28;
    color: rgb(248, 164, 6);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative; 
}

h1 {
    position: absolute;
    text-align: center;
    background-color: transparent;
    border: solid 2px #050507;
    border-radius: 25px;
    width: 65%;
    left: 20%;
    top: 15%;
    margin: auto;
    box-shadow: 7px 10px 15px 7px rgba(0, 0, 0, 0.9);
}

/* Customization for the color of the placeholders */
::placeholder {
    color: rgb(248, 164, 6);
    font-size: small;
}

label {
    color:rgb(248, 164, 6);
    font-size: large;
}

.firstSelect-container, #addBookSelected {
    position: absolute;
    top: 60%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    background-color: rgba(25, 27, 40, 0.8);
    padding: 20px;
    border: solid 2px #050507;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    max-width: 800px;
    box-shadow: 16px 24px 19px 3px rgba(0, 0, 0, 0.6);
}

.firstSelectOptions-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#addBookBtn, #searchBookBtn {
    position: relative;
    width: 200px;
    height: 200px;
    top: 22.5%;
    background-color: rgb(248, 164, 6);
    border: solid 2px black;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin: 0 50px;
    transition: 0.4s ease-in-out !important; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

#addBookBtn:hover, #searchBookBtn:hover {
    background-color: transparent;
    color:rgb(248, 164, 6);
}

.addBookForm input {
    display: block;
    margin-bottom: 10px;
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #050507;
    color:rgb(248, 164, 6);
    border-radius: 5px;
    background-color: transparent;
}

#genre {
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #050507;
    color:rgb(248, 164, 6);
    border-radius: 5px;
    background-color: transparent;
}

#genre option {
    color: rgb(248, 164, 6);
    background-color: #191b28;
}

#genre:focus {
    outline: none;
    border-color: rgb(248, 164, 6);
    box-shadow: 0 0 5px rgb(248, 164, 6);
}

#submitBtn {
    background-color: #19d210;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: 0.1s ease-in-out;
}

#submitBtn:hover {
    border: 2px solid;
    border-color: #19d210;
    color: #19d210;
    background-color: transparent;
}
