/* Those sites were used for box-shadow generation and UI proposes, like colors, their palletes and icons */
/* https://generators.shecodes.io/css-box-shadow-generator  [For box-shadow generator & color palletes]*/
/* https://uicolors.app/create  [For color-shades]*/
/* https://ionic.io/ionicons  [For icons-fonts]*/
/* https://fontawesome.com/icons/square-check?s=solid&f=classic  [For icons-fonts]*/
/* https://www.cssmatic.com/box-shadow  [For inset box-shadow generator] */
/* For z-index:  */
/* https://www.digitalocean.com/community/tutorials/css-z-index */

body {
    background-color: #191b28;
    color: rgb(248, 164, 6);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative; 
}

/* Headline Customization */
h1 {
    position: absolute;
    text-align: center;
    background-color: transparent;
    border: solid 2px #050507;
    border-radius: 25px;
    width: 65%;
    left: 20%;
    top: 15%;
    margin: auto;
    box-shadow: 7px 10px 15px 7px rgba(0, 0, 0, 0.9); 
}

/* Placeholder Customization */
::placeholder {
    color: rgb(248, 164, 6);
    font-size: small;
}

/* Label Customization */
label {
    color:rgb(248, 164, 6);
    font-size: large;
}

/* Starting-Box Customization */
.firstSelect-container, #addBookSelected {
    position: absolute;
    top: 60%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    background-color: rgba(25, 27, 40, 0.8);
    padding: 20px;
    border: solid 2px #050507;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    max-width: 800px;
    box-shadow: 16px 24px 19px 3px rgba(0, 0, 0, 0.6);
}

/* Starting-Box Options Customization */
.firstSelectOptions-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Starting-Box Buttons Customization */
#addBookBtn, #searchBookBtn {
    position: relative;
    width: 200px;
    height: 200px;
    top: 22.5%;
    color: #191b28;
    background-color: rgb(248, 164, 6);
    border: solid 2px black;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 50px;
    box-shadow: 0px 20px 35px 8px rgba(0, 0, 0, 0.6);
    transition: 0.4s ease-in-out !important; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

#addBookBtn:hover, #searchBookBtn:hover {
    background-color: transparent;
    color:rgb(248, 164, 6);
}

/* addBookForm inputs Customization */
.addBookForm input {
    display: block;
    margin-bottom: 10px;
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #050507;
    color:rgb(248, 164, 6);
    border-radius: 10px;
    background-color: transparent;
    -webkit-box-shadow: inset 1px 1px 8px 2px rgba(5,5,7,0.79);
    -moz-box-shadow: inset 1px 1px 8px 2px rgba(5,5,7,0.79);
    box-shadow: inset 1px 1px 8px 2px rgba(5,5,7,0.79);
    transition: 0.4s ease-in-out;
}

.addBookForm input:focus {
    outline: none;
    border-radius: 20px;
    border-color: rgb(248, 164, 6);
    box-shadow: 18px 16px 23px 5px rgba(0, 0, 0, 0.6);
}

#genre {
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #050507;
    color:rgb(248, 164, 6);
    border-radius: 15px;
    background-color: transparent;
    -webkit-box-shadow: inset 1px 1px 8px 2px rgba(5,5,7,0.79);
    -moz-box-shadow: inset 1px 1px 8px 2px rgba(5,5,7,0.79);
    box-shadow: inset 1px 1px 8px 2px rgba(5,5,7,0.79);
    transition: 0.4s ease-in-out;
}

#genre option {
    color: rgb(248, 164, 6);
    background-color: #191b28;
}

#genre:focus {
    outline: none;
    border-radius: 25px;
    border-color: rgb(248, 164, 6);
    box-shadow: 0 0 5px rgb(248, 164, 6);
}

#submitBtn {
    background-color: #19d210;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: 0.1s ease-in-out;
}

#submitBtn:hover {
    border: 2px solid;
    border-color: #19d210;
    color: #19d210;
    background-color: transparent;
}

/* Home Button Customization */
#return-to-main, #return-to-main-from-search {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(248, 164, 6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#return-to-main:hover, #return-to-main-from-search:hover {
    cursor: pointer;
    background-color: transparent;
    color: rgb(248, 164, 6);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#return-to-main {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 15%;
    height: 6%;
    padding: 6px;
}

#return-to-main-from-search {
    position: fixed;
    top: 2%;
    right: 2%;
    width: 15%;
    height: 6%;
    padding: 6px;
}

/* Search Book-Box Customization */
#searchBookSelected {
    position: relative;
}

/* SearchBar Customization */
#searchInput {
    width: 100%;
    max-width: 600px;
    padding: 10px 100px;
    font-size: 16px;
    border: 1px solid #050507;
    border-radius: 15px;
    color: rgb(248, 164, 6);
    background-color: transparent;
    -webkit-box-shadow: inset 1px 1px 8px 2px rgba(5,5,7,0.79);
    -moz-box-shadow: inset 1px 1px 8px 2px rgba(5,5,7,0.79);
    box-shadow: inset 1px 1px 8px 2px rgba(5,5,7,0.79);
    transition: 0.4s ease-in-out;
}

#searchInput:focus {
    outline: none;
    border-color: rgb(248, 164, 6);
    box-shadow: 18px 16px 23px 5px rgba(0, 0, 0, 0.6);
}

#searchBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    color: rgb(248, 164, 6);
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

#searchBtn:hover {
    color: black;
    background-color: rgb(248, 164, 6); 
}

/* PopUp & SearchResultsBox Customization */
#searchResultsBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    outline: 1px solid #191b28;
}

#searchResultsBox.visible {
    display: flex;
}

#searchResultsContent {
    color: #191b28;
    background-color: rgb(248, 164, 6);
    padding: 20px 40px;
    border-radius: 10px;
    max-width: 100%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

#searchResults {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    z-index: 99999;
}

#closeButton {
    display: none; /* Hide the close button by default */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    padding: 0;
}

#closeButton:hover {
    color: red;
}

.searchResultItem {
    margin-bottom: 10px;
}

.popup {
    position: fixed;
    top: 27.5%;
    left: 62.5%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    outline: 1px solid rgb(248, 164, 6);
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Footer Customization */
footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: rgb(255, 153, 0);
    padding: 0px;
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: opacity 0.7s ease;
}

/* Scrollbar customization */
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: black;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: rgb(255, 153, 0);
    outline: 1px solid rgb(0, 0, 0);
}

/* Notification-Box Customization */
.notification {
    position: fixed;
    top: 20px;
    right: -300px;
    background-color: #333;
    color: rgb(255, 153, 0);
    padding: 10px;
    border: 2px solid #555;
    border-radius: 20px;
    z-index: 9999;
    transition: right 0.5s;
    cursor: pointer;
    box-shadow: 12px 13px 27px 5px rgba(0, 0, 0, 0.6);
}

.notification:hover {
    background-color: #444;
}

.notification .close {
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin-left: 10px;
}

.notification .close:hover {
    color: black;
}

/* Highlight customization */
::selection {
    color: #191b28;
    background-color: rgb(248, 164, 6);
}

::-moz-selection {
    color: #191b28;
    background-color: rgb(248, 164, 6);
}
